<svg
  class={Astro.props.class}
  viewBox="0 0 44 44"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Icono de Linkedin</title>
  <path
    d="M37.4862 37.4953H30.9705V27.2855C30.9705 24.8508 30.921 21.7177 27.5752 21.7177C24.178 21.7177 23.6592 24.3668 23.6592 27.1058V37.4953H17.1435V16.5H23.4025V19.3618H23.4868C24.3613 17.7118 26.488 15.9702 29.6652 15.9702C36.267 15.9702 37.488 20.3152 37.488 25.971L37.4862 37.4953ZM9.7845 13.6272C9.28731 13.6279 8.79486 13.5304 8.33542 13.3404C7.87598 13.1503 7.45859 12.8715 7.10719 12.5197C6.75579 12.168 6.4773 11.7503 6.2877 11.2907C6.0981 10.8311 6.00113 10.3385 6.00233 9.84133C6.0027 9.09293 6.22498 8.36144 6.64107 7.73937C7.05716 7.11729 7.64838 6.63257 8.33995 6.34651C9.03153 6.06044 9.7924 5.98587 10.5264 6.13223C11.2603 6.2786 11.9344 6.63931 12.4633 7.16877C12.9923 7.69823 13.3523 8.37265 13.498 9.10674C13.6436 9.84084 13.5683 10.6016 13.2816 11.2929C12.9949 11.9842 12.5096 12.575 11.8871 12.9905C11.2646 13.406 10.5329 13.6275 9.7845 13.6272ZM13.0515 37.4953H6.5175V16.5H13.0515V37.4953ZM40.7458 0H3.24683C1.452 0 0 1.419 0 3.16983V40.8302C0 42.5828 1.452 44 3.24683 44H40.7403C42.5333 44 44 42.5828 44 40.8302V3.16983C44 1.419 42.5333 0 40.7403 0H40.7458Z"
   ></path>
</svg>
