<svg
  class={Astro.props.class}
  viewBox="0 0 44 44"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
><title>Icono de Correo</title>
  <path
    d="M7.33332 36.6667C6.32499 36.6667 5.4621 36.3079 4.74466 35.5905C4.02721 34.873 3.66788 34.0095 3.66666 33V11C3.66666 9.99166 4.02599 9.12877 4.74466 8.41133C5.46332 7.69388 6.32621 7.33455 7.33332 7.33333H36.6667C37.675 7.33333 38.5385 7.69266 39.2572 8.41133C39.9758 9.12999 40.3345 9.99288 40.3333 11V33C40.3333 34.0083 39.9746 34.8718 39.2572 35.5905C38.5397 36.3092 37.6762 36.6679 36.6667 36.6667H7.33332ZM22 23.8333L36.6667 14.6667V11L22 20.1667L7.33332 11V14.6667L22 23.8333Z"
  ></path>
</svg>
