---
import IconGitHub from "../assets/icons/IconGitHub.astro";
import IconLinkedin from "../assets/icons/IconLinkedin.astro";
import IconGmail from "../assets/icons/IconGmail.astro";
import IconInstagram from "../assets/icons/IconInstagram.astro";
import IconArrow from "../assets/icons/IconArrow.astro";
import IconHtml from "../assets/icons/IconHtml.astro";
import IconCss from "../assets/icons/IconCss.astro";
import IconJavaScript from "../assets/icons/IconJavaScript.astro";
import IconFigma from "../assets/icons/IconFigma.astro";
import IconVercel from "../assets/icons/IconVercel.astro";
import IconAstro from "../assets/icons/IconAstro.astro";
import IconTailwind from "../assets/icons/IconTailwind.astro";
import IconGit from "../assets/icons/IconGit.astro";
import IconMail from "../assets/icons/IconMail.astro";
import IconArrow2 from "../assets/icons/IconArrow2.astro";
import Layout from "../layouts/Layout.astro";
import SobreMi from "../components/SobreMi.astro";
---

<Layout title="Acerca de Mi">
    <main
        id="inicio"
        class="w-full h-full flex flex-col justify-center items-center"
    >
        <section
            class="w-full h-full max-w-[1440px] flex flex-col items-center justify-center py-12 px-14 gap-10 text-white"
        >
            <header
                class="mx-auto grid max-w-4xl grid-flow-dense grid-cols-12 gap-4"
            >
                <SobreMi
                    classContainer="md:col-span-10"
                    pill="Un poco sobre mi"
                    title=" Desarrollador Web - Front End"
                    paragraph="Como mencione anteriormente mi nombre es Sebastian, soy Argentino y me encuentro en continua evolucion tanto en lo personal como en lo profesional."
                    textLink="Volver al inicio"
                    href="./"
                >
                    <slot slot="moreText">
                        <p class="text-zinc-400 text-[22px] mb-1">
                            Principalmente me dedico a desarrollar paginas webs
                            como freelancer e intento capacitarme
                            constantemente, en todo lo relacionado a lo que es
                            diseño y desarrollo web.
                        </p>
                        <p class="text-zinc-400 text-[22px] mb-1">
                            Mi objetivo es poder aportar valor y brindar mis
                            conocimientos, dentro de una organizacion, ya sea
                            participando de algun proyecto o seguir
                            capacitandome, ya que estoy dispuesto a aprender
                            nuevas tecnologias.
                        </p>
                    </slot>
                </SobreMi>

                <section
                    class="w-full grid grid-cols-auto-red gap-4 col-span-2 row-span-2"
                >
                    <a
                        transition:name="icon"
                        href="/"
                        class="flex justify-center items-center rounded-lg border border-zinc-700 bg-zinc-700 p-6 bg-opacity-50 hover:bg-violet-300/20 hover:scale-105 transition-transform cursor-pointer"
                    >
                        <IconGitHub class="w-10" />
                    </a>
                    <a
                        transition:name="icon2"
                        href="/"
                        class="flex justify-center items-center rounded-lg border border-zinc-700 bg-zinc-700 p-6 bg-opacity-50 hover:bg-blue-300/20 hover:scale-105 transition-transform cursor-pointer"
                    >
                        <IconLinkedin class="w-9" />
                    </a>
                    <a
                        transition:name="icon3"
                        href="/"
                        class="flex justify-center items-center rounded-lg border border-zinc-700 bg-zinc-700 p-6 bg-opacity-50 hover:bg-red-300/20 hover:scale-105 transition-transform cursor-pointer"
                    >
                        <IconMail class="w-11" />
                    </a>
                    <a
                        transition:name="icon4"
                        href="/"
                        class="flex justify-center items-center rounded-lg border border-zinc-700 bg-zinc-700 p-6 bg-opacity-50 hover:bg-pink-300/20 hover:scale-105 transition-transform cursor-pointer"
                    >
                        <IconInstagram class="w-9" />
                    </a>
                </section>
            </header>
        </section>
    </main>
</Layout>
