---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import IconGitHub from "../icons/IconGitHub.astro";
import IconLinkedin from "../icons/IconLinkedin.astro";
import IconGmail from "../icons/IconGmail.astro";
import IconAstro from "../icons/IconAstro.astro";
import IconTailwind from "../icons/IconTailwind.astro";
import IconHtml from "../icons/IconHtml.astro";
import IconCss from "../icons/IconCss.astro";
import IconJavaScript from "../icons/IconJavaScript.astro";
import IconFigma from "../icons/IconFigma.astro";
import IconVercel from "../icons/IconVercel.astro";
---

<Layout title="Sebastian Perez">
  <NavBar />
  <main class="w-full flex flex-col justify-center items-center">
    <section
      class="w-full max-w-[1920px] h-screen flex flex-col items-center justify-end gap-14 xl:gap-0 px-24 text-white"
    >
      <header class="w-full flex justify-between items-center">
        <aside class="flex flex-col gap-6">
          <a href="/"><IconGitHub class="w-10 xl:w-8" /></a>
          <a href="/"><IconLinkedin class="w-10 xl:w-8"  /></a>
          <a href="/"><IconGmail class="w-10 xl:w-8" /></a>
        </aside>
        <span class="w-[600px] z-10 relative border-2 h-[340px] xl:w-[500px] xl:h-[240px]">
          <span
            class="bg-black w-full absolute flex justify-center items-center h-full border-2 -top-6 right-6 xl:-top-4 xl:right-4"
          >
            <h1
              class="text-8xl xl:text-7xl z-40 w-[9ch] text-center font-bold leading-none"
            >
              Sebastian Perez
            </h1>
          </span>
        </span>
      </header>
      <footer class="w-full overflow-hidden">
        <p class="text-2xl xl:text-xl w-[28ch] mb-2 text-pretty">
          Aportando valor y resultados en cada desarrollo, diseños modernos
          adaptados a tus necesidades
        </p>
        <h2 class="text-center xl:text-[120px] text-[180px] font-bold leading-none">
          WEB DEVELOPER
        </h2>
      </footer>
    </section>

    <!-- <section
      class="w-full max-w-[1920px] min-h-screen flex flex-col items-center justify-end gap-14 px-14 text-white"
    >
      <header class="mb-20 w-full flex justify-between items-center">
        <div
          class="flex ml-6 justify-center items-center h-full flex-col gap-10"
        >
          <div class="w-[700px] z-10 relative border-2 h-[120px]">
            <span
              class="bg-black absolute flex justify-center items-center w-full h-full border-2 -top-6 right-6"
            >
              <h1
                class="text-7xl z-40 w-[9ch] text-center font-bold leading-none"
              >
                Tecnologías
              </h1>
            </span>
          </div>

          <ul class="flex gap-8 justify-center items-center">
            <IconHtml />
            <IconCss />
            <IconJavaScript />
            <IconAstro />
            <IconTailwind />
            <IconFigma />
          </ul>
        </div>

        <div class="flex flex-col items-center gap-">
          <p class="text-[26px] w-[40ch]">
            Soy Sebas, Desarrollador Web Front End y Técnico en Análisis de
            Sistemas.
          </p>
          <p class="text-[26px] w-[40ch]">
            Me destaco en el diseño y desarrollo de paginas webs, creando
            experiencias amigables a los usuarios.
          </p>
          <p class="text-[26px] w-[40ch]">
            Ofrezco webs optimizadas, con un gran rendimiento, en cuanto a
            velocidad de carga, SEO y estructuración del sitio.
          </p>
        </div>
      </header>
      <footer class="overflow-hidden">
        <p class="text-2xl text-center text-pretty mb-8 font-medium">
          HTML5 - CSS3 - JAVASCRIPT - ASTRO - TAILWIND- FIGMA- VERCEL
        </p>
        <h2 class="text-center text-[200px] font-bold leading-none">
          SOBRE MI
        </h2>
      </footer>
    </section> -->
  </main>
</Layout>
