---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import IconGitHub from "../icons/IconGitHub.astro";
import IconLinkedin from "../icons/IconLinkedin.astro";
import IconGmail from "../icons/IconGmail.astro";
import IconAstro from "../icons/IconAstro.astro";
import IconTailwind from "../icons/IconTailwind.astro";
import IconHtml from "../icons/IconHtml.astro";
import IconCss from "../icons/IconCss.astro";
import IconJavaScript from "../icons/IconJavaScript.astro";
import IconFigma from "../icons/IconFigma.astro";
import IconVercel from "../icons/IconVercel.astro";

import TitleSection from "../components/TitleSection.astro";
import CardProyect from "../components/CardProyect.astro";
import ButtonProyect from "../components/ButtonProyect.astro";
---

<Layout title="Sebastian Perez">
  <NavBar />
  <main
    id="inicio"
    class="w-full h-full flex flex-col justify-center items-center"
  >
    <section
      class="w-full max-h-full h-[900px] max-w-[1440px] flex flex-col items-center justify-center mt-14 py-14 px-14 gap-20 text-white"
    >
      <header class="w-full h-full flex justify-between items-center mt-20">
        <aside class="flex flex-col gap-6">
          <a href="/"><IconGitHub class="2xl:w-9 xl:w-8" /></a>
          <a href="/"><IconLinkedin class="2xl:w-9 xl:w-8" /></a>
          <a href="/"><IconGmail class="2xl:w-9 xl:w-8" /></a>
        </aside>
        <div
          class="2xl:w-[640px] 2xl:h-[340px] relative z-10 border-2 xl:w-[500px] xl:h-[240px]"
        >
          <span
            class="bg-black w-full absolute flex justify-center items-center h-full border-2 -top-6 right-6 xl:-top-4 xl:right-4"
          >
            <h1
              class="2xl:text-[86px] xl:text-7xl z-40 w-[9ch] text-center font-bold leading-none"
            >
              Sebastian Perez
            </h1>
          </span>
        </div>
      </header>
      <footer class="w-full">
        <p class="2xl:text-2xl xl:text-xl w-[28ch] mb-8 text-pretty">
          Aportando valor y resultados en cada desarrollo, diseños modernos
          adaptados a tus necesidades
        </p>
        <TitleSection title="WEB DEVELOPER" />
      </footer>
    </section>

    <span id="sobremi"></span>

    <section
      class="w-full max-h-full h-[900px] max-w-[1440px] flex flex-col items-center justify-center mt-14 py-14 px-14 gap-20 text-white"
    >
      <header
        class="w-full h-full flex justify-between items-center gap-20 mt-20"
      >
        <div
          class="w-full h-full flex flex-col justify-center items-center gap-10 ml-6 mt-12"
        >
          <div class="w-full h-[140px] border-2 relative z-10">
            <span
              class="bg-black absolute flex justify-center items-center w-full h-full border-2 -top-6 right-6"
            >
              <h2 class="text-7xl z-40 text-center font-bold leading-none">
                Tecnologías
              </h2>
            </span>
          </div>

          <ul class="flex gap-8 justify-center items-center">
            <IconHtml class="w-12" />
            <IconCss class="w-12" />
            <IconJavaScript class="w-12" />
            <IconAstro class="w-12" />
            <IconTailwind class="w-12" />
            <IconFigma class="w-12" />
            <IconVercel class="w-12" />
          </ul>
        </div>

        <div
          class="w-full h-full mt-12 flex flex-col gap-3 justify-center items-end"
        >
          <p class="text-2xl w-full text-pretty">
            Soy Sebas, Desarrollador Web Front End y Técnico en Análisis de
            Sistemas.
          </p>
          <p class="text-2xl w-full text-pretty">
            Me destaco en el diseño y desarrollo de paginas webs, creando
            experiencias amigables para los usuarios.
          </p>
          <p class="text-2xl w-full text-pretty">
            Ofrezco webs optimizadas, con un gran rendimiento, en cuanto a
            velocidad de carga, SEO y estructuración del sitio.
          </p>
        </div>
      </header>
      <footer class="w-full">
        <p class="text-2xl text-center text-pretty mb-8 font-medium">
          HTML5 - CSS3 - JAVASCRIPT - ASTRO - TAILWIND - FIGMA - VERCEL
        </p>
        <TitleSection title="SOBRE MI" />
      </footer>
    </section>

    <span id="proyectos"></span>

    <section
      class="w-full h-full max-w-[1440px] flex flex-col items-center justify-center mt-14 py-14 px-14 gap-20 text-white"
    >
      <header
        class="w-full h-full grid grid-cols-auto-proyects place-items-center mt-20 gap-20"
      >
        <CardProyect
          title="WEB DAFA SEGUROS"
          description="Página web informativa para una empresa Productora Asesora de Seguros en Argentina. Se utilizo la API View Transition. (En Producción)"
        >
          <slot slot="icons">
            <IconAstro class="w-8" />
            <IconTailwind class="w-8" />
          </slot>
          <slot slot="buttons">
            <ButtonProyect text="Ver sitio" href="./" />
            <ButtonProyect text="Ver repositorio" href="./" />
          </slot>
        </CardProyect>

        <CardProyect
          title="LANDING TESLA"
          description="Se desarrollo una landing page teniendo de referencia la página original de Tesla (Proyecto realizado para el programa Codo a Codo)."
        >
          <slot slot="icons">
            <IconAstro class="w-8" />
            <IconTailwind class="w-8" />
          </slot>
          <slot slot="buttons">
            <ButtonProyect text="Ver sitio" href="./" />
            <ButtonProyect text="Ver repositorio" href="./" />
          </slot>
        </CardProyect>

        <CardProyect
          title="LANDING MISIÓN SALTA"
          description="Web de la ONG - Misión Salta brinda principalmente información sobre el propósito, objetivo, entre más puntos importantes de la misión."
        >
          <slot slot="icons">
            <IconAstro class="w-8" />
            <IconTailwind class="w-8" />
          </slot>
          <slot slot="buttons">
            <ButtonProyect text="Ver sitio" href="./" />
            <ButtonProyect text="Ver repositorio" href="./" />
          </slot>
        </CardProyect>

        <CardProyect
          title="PROXIMAMENTE..."
          description="Página web informativa para una empresa Productora Asesora de Seguros en Argentina. (En Producción)"
        >
          <slot slot="icons">
            <IconAstro class="w-8" />
            <IconTailwind class="w-8" />
          </slot>
          <slot slot="buttons">
            <ButtonProyect text="Ver sitio" href="./" />
            <ButtonProyect text="Ver repositorio" href="./" />
          </slot>
        </CardProyect>
      </header>
      <footer class="w-full">
        <TitleSection title="PROYECTOS" />
      </footer>
    </section>

    <span id="experiencia"></span>

    <section
      class="w-full max-h-full h-[900px] max-w-[1440px] flex flex-col items-center justify-center mt-14 py-14 px-14 gap-20 text-white"
    >
      <header
        class="w-full h-full flex justify-between items-center gap-20 mt-20"
      >
        <div>
          <time class="text-lg">04-08-2023</time>
          <h4 class="text-2xl">Proyecto Landing Page Misión Salta</h4>
          <p>
            
          </p>
          <p>
            Recibi una mentoria por parte de un Diseñador UX-UI profesional,
            desarrollamos en conjunto una landing page para la ONG Misión Salta.
            Adquiri nuevos conocimientos de como realizar un desarrollo optimo,
            utilizando buenas practias, tanto en el enmaquetado, el estilado y
            el analisis pre-desarrollo de una web. Ademas conoci diferentes
            tecnologias y herramientas que me facilitaron la experiencia de
            desarrollo (Trello, Git, GitHub, Figma, Metodologias, Diseños
            limpios y Accesibles)
          </p>
        </div>
      </header>
      <footer class="w-full">
        <TitleSection title="EXPERIENCIA" />
      </footer>
    </section>

    <span id="contacto"></span>

    <section
      class="w-full max-h-full h-[900px] max-w-[1440px] flex flex-col items-center justify-center mt-14 py-14 px-14 gap-20 text-white"
    >
      <header
        class="w-full h-full flex justify-between items-center gap-20 mt-20"
      >
      </header>
      <footer class="w-full">
        <TitleSection title="CONTACTO" />
      </footer>
    </section>
  </main>
</Layout>
