---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../layouts/Grid.astro";
import Grid from "../layouts/Grid.astro";
---

<Layout title="Portafolio - Sebastian Perez">
  <main
    id="inicio"
    class="w-full h-full flex flex-col justify-center items-center"
  >
    <Grid />
  </main>
</Layout>
