---
import Layout from "../layouts/Layout.astro";
import ProyectCard from "../components/ProyectCard.astro";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import DescriptionCard from "../components/DescriptionCard.astro";
import Image from "astro/components/Image.astro";
import DafaImage from "../../public/img/landing-page-dafa.jpg";
---

<Layout title="Todos los Proyectos">
  <main
    id="inicio"
    class="w-full min-h-screen h-full flex flex-col justify-center items-center"
  >
    <section
      class="w-full h-full max-w-[1440px] flex flex-col items-center justify-center max-lg:px-10 max-sm:px-4 py-12 px-14 gap-10 text-white"
    >
      <header
        class="mx-auto grid max-w-5xl max-lg:max-w-4xl grid-flow-dense grid-cols-12 gap-4"
      >
        <div
          class="grid grid-cols-auto-proyects-max max-sm:grid-cols-auto-proyects gap-4 col-span-12"
        >
          <ProyectCard
            transitionName="firstCard"
            classColor="bg-blue-200 dark:bg-blue-300"
            classCard="border-l-blue-200 dark:border-l-blue-500"
            classTitle="text-blue-200 dark:text-blue-800"
            dataColor="bg-blue-100/20"
            pill="Ultimo proyecto"
            proyectTitle="Web - Dafa Seguros"
            description="Desarrollo de p치gina web informativa para una empresa Productora Asesora de Seguros."
          >
            <slot slot="buttonPrimary">
              <ButtonPrimary
                target="_blank"
                textLink="Ver sitio"
                href="https://dafasesoresdeseguros.com.ar/"
                title="Ver sitio"
                classLink="linkHover hover:text-blue-200 dark:hover:text-blue-800"
                classIcon="group-hover:fill-blue-200 dark:fill-zinc-800 dark:group-hover:fill-blue-800"
              />
              <ButtonPrimary
                target="_blank"
                textLink="Ver repositorio"
                href="https://github.com/SebastianPerez11/df-seguros-web"
                title="Ver repositorio"
                classLink="linkHover hover:text-blue-200 dark:hover:text-blue-800"
                classIcon="group-hover:fill-blue-200 dark:fill-zinc-800 dark:group-hover:fill-blue-800"
              /></slot
            >
          </ProyectCard>

          <ProyectCard
            dataColor="bg-yellow-100/20"
            classColor="bg-yellow-100 dark:bg-yellow-300"
            classCard="border-l-yellow-200 dark:border-l-yellow-400"
            classTitle="text-yellow-50 dark:text-yellow-600"
            pill="Colaborativo"
            proyectTitle="Landing Page - Misi칩n Salta"
            description="Se desarrollo una landing page informativa para una ONG del Instituto Cristo Obrero."
          >
            <slot slot="buttonPrimary">
              <ButtonPrimary
                target="_blank"
                textLink="Ver sitio"
                href="https://mision-salta-landing-dev.vercel.app/"
                title="Ver sitio"
                classLink="linkHover hover:text-yellow-200 dark:hover:text-yellow-800"
                classIcon="group-hover:fill-yellow-200 dark:fill-zinc-800 dark:group-hover:fill-yellow-800"
              />
              <ButtonPrimary
                target="_blank"
                textLink="Ver repositorio"
                href="https://github.com/leoromero97/mision-salta-landing"
                title="Ver repositorio"
                classLink="linkHover hover:text-yellow-200 dark:hover:text-yellow-800"
                classIcon="group-hover:fill-yellow-200 dark:fill-zinc-800 dark:group-hover:fill-yellow-800"
              /></slot
            >
          </ProyectCard>

          <ProyectCard
            dataColor="bg-red-100/20"
            classColor="bg-red-200 dark:bg-red-300"
            classCard="border-l-red-200 dark:border-l-red-500"
            classTitle="text-red-200 dark:text-red-700"
            pill="Individual"
            proyectTitle="Landing Page - Tesla"
            description="Recreacion de la UI del sitio web de Tesla, junto a unos peque침os cambios en el dise침o."
          >
            <slot slot="buttonPrimary">
              <ButtonPrimary
                target="_blank"
                textLink="Ver sitio"
                href="https://landing-tesla-cac.vercel.app/"
                title="Ver sitio"
                classLink="linkHover hover:text-red-200 dark:hover:text-red-800"
                classIcon="group-hover:fill-red-200 dark:fill-zinc-800 dark:group-hover:fill-red-800"
              />
              <ButtonPrimary
                target="_blank"
                textLink="Ver repositorio"
                href="https://github.com/SebastianPerez11/landing-tesla-cac"
                title="Ver repositorio"
                classLink="linkHover hover:text-red-200 dark:hover:text-red-800"
                classIcon="group-hover:fill-red-200 dark:fill-zinc-800 dark:group-hover:fill-red-800"
              /></slot
            >
          </ProyectCard>

          <ProyectCard
            dataColor="bg-gray-100/20"
            classColor="bg-gray-200 dark:bg-gray-300"
            classCard="border-l-gray-200 dark:border-l-gray-500"
            classTitle="text-gray-200 dark:text-gray-800"
            pill="En desarrollo"
            proyectTitle="Landing Page - LZC"
            description="Desarrollo de landing page informativa para una empresa Constructora en Argentina."
          >
            <slot slot="buttonPrimary">
              <ButtonPrimary
                target="_blank"
                textLink="Ver sitio"
                href="https://landing-page-lzc.vercel.app/"
                title="Ver sitio"
                classLink="linkHover hover:text-gray-200 dark:hover:text-gray-800"
                classIcon="group-hover:fill-gray-200 dark:fill-zinc-800 dark:group-hover:fill-gray-800"
              />
              <ButtonPrimary
                target="_blank"
                textLink="Ver repositorio"
                href="https://github.com/SebastianPerez11/landing-page-lzc"
                title="Ver repositorio"
                classLink="linkHover hover:text-gray-200 dark:hover:text-gray-800"
                classIcon="group-hover:fill-gray-200 dark:fill-zinc-800 dark:group-hover:fill-gray-800"
              /></slot
            >
          </ProyectCard>
        </div>

        <DescriptionCard
          classCard="nameSection col-span-8 max-lg:col-span-12 max-md:col-span-12 transition-all"
        >
          <ButtonPrimary
            textLink="Volver al Inicio"
            href="./"
            title="Volver al inicio"
            classLink=" moreLink hover:text-orange-200 dark:hover:text-orange-600"
            classIcon="group-hover:fill-orange-200 dark:group-hover:fill-orange-600 "
          />
        </DescriptionCard>

        <section
          class="dark:shadow-md max-lg:h-60 col-span-4 max-lg:col-span-12 max-md:col-span-12 rounded-lg border border-zinc-700 dark:bg-white dark:bg-opacity-30 dark:border-black/10 bg-zinc-700 bg-opacity-50"
        >
          <Image
            loading="lazy"
            src={DafaImage}
            title="Landing Page - Dafa seguros"
            alt="Imagen de Landing Page de Dafa Seguros"
            class="h-full w-full rounded-lg object-cover brightness-90"
          />
        </section>
      </header>
    </section>
    <script data-astro-rerun is:inline type="module">
      const nameSection = document.querySelector(".nameSection");
      const moreLink = document.querySelector(".moreLink");

      moreLink.addEventListener("mouseover", () => {
        nameSection.classList.remove("bg-zinc-700");
        nameSection.classList.add("bg-orange-100/20");
        nameSection.classList.remove("dark:bg-white");
        nameSection.classList.add("dark:bg-orange-100/30");
        nameSection.classList.add("scale-[1.02]");
      });

      moreLink.addEventListener("mouseout", () => {
        nameSection.classList.remove("bg-orange-100/20");
        nameSection.classList.remove("dark:bg-orange-100/30");
        nameSection.classList.remove("scale-[1.02]");
        nameSection.classList.add("bg-zinc-700");
        nameSection.classList.add("dark:bg-white");
      });
    </script>
  </main>
</Layout>
