<section
  class=`w-full flex items-center justify-center flex-col gap-6 ${Astro.props.class} rounded-lg border border-zinc-700 p-6 bg-zinc-700 bg-opacity-50 dark:bg-white dark:bg-opacity-30 dark:border-black/10 dark:shadow-md`
>
  <p
    class="flex flex-col justify-center items-center text-[22px] max-2xl:text-xl text-pretty text-white dark:text-zinc-800"
  >
    <span class="text-4xl max-2xl:text-3xl font-bold text-violet-200 dark:text-violet-500"
      >21</span
    > Años
  </p>
</section>
