---
 const {href} = Astro.props;
---
<div>
    <a 
      href="/"
      class="block max-w-full w-[90px] max-h-full h-[80px] relative z-10 border-2"
    >
      <span
        class="bg-black w-full h-full flex justify-center items-center absolute border-2 -top-2 right-2"
      >
       <slot name="icon"/>
      </span>
    </a>
  </div>