---
import IconAstro from "../icons/IconAstro.astro";
import IconTailwind from "../icons/IconTailwind.astro";
---

<div
  class="2xl:w-[640px] 2xl:h-[340px] relative z-10 border-2 xl:w-[500px] xl:h-[240px]"
>
  <span
    class="bg-black w-full h-full flex flex-col p-10 absolute border-2 -top-6 right-6 xl:-top-4 xl:right-4"
  >
    <header class="w-full flex flex-col mb-8">
      <span class="text-3xl mb-8">DAFA SEGUROS</span>
      <ul class="flex gap-2 mb-3">
        <li><IconAstro class="w-8" /></li>
        <li><IconTailwind class="w-8" /></li>
      </ul>
      <p class="text-xl">
        Página web informativa para una empresa Productora Asesora de Seguros en
        Argentina. (En Producción)
      </p>
    </header>

    <footer class="w-full flex gap-4">
      <a
        href="/"
        class="max-w-full w-48 text-center border-2 py-1 px-6 rounded-sm text-lg"
        >Ver sitio</a
      >
      <a
        href="/"
        class="max-w-full w-48 text-center border-2 py-1 px-6 rounded-sm text-lg"
        >Ver Repositorio</a
      >
    </footer>
  </span>
</div>
