---
import IconAstro from "../icons/IconAstro.astro";
import IconTailwind from "../icons/IconTailwind.astro";

const { title, description } = Astro.props;
---

<div
  class="2xl:w-[640px] 2xl:h-[340px] relative z-10 border-2 xl:w-[500px] xl:h-[240px]"
>
  <span
    class="bg-black w-full h-full flex flex-col p-8 absolute border-2 -top-6 right-6 xl:-top-4 xl:right-4"
  >
    <header class="w-full flex flex-col mb-8 flex-grow">
      <span class="text-3xl mb-4 font-bold">{title}</span>
      <ul class="flex gap-2 mb-4">
        <slot name="icons" />
      </ul>
      <p class="text-xl text-pretty">
        {description}
      </p>
    </header>

    <footer class="w-full flex gap-4">
      <slot name="buttons"/>
    </footer>
  </span>
</div>
