---

---

<section
  transition:name="descriptionSection"
  class=`${Astro.props.classCard} p-6 dark:shadow-md border-r-orange-200 dark:border-r-orange-500 border-r-4 rounded-lg border border-zinc-700 dark:bg-white dark:bg-opacity-30 dark:border-black/10 bg-zinc-700 bg-opacity-50`
>
  <p class="text-[22px] max-2xl:text-xl text-pretty text-zinc-400 dark:text-zinc-700">
    <span class="text-orange-100 font-bold dark:text-orange-500">
      Me destaco en el dise침o y desarrollo de p치ginas webs,</span
    >
    creando experiencias amigables para los usuarios, enfocadas en tener una buena
    optimizaci칩n, con un gran rendimiento, en cuanto a velocidad de carga, posicionamiento
    , estructuraci칩n del sitio y optima accesibilidad desde diferentes dispositivos.
  </p>
  <slot />
</section>
