---
import NavLink from "../components/NavLink.astro";
import Button from "../components/Button.astro";
---

<header class="w-full flex justify-center fixed z-20">
  <nav
    class="w-full max-w-[1440px] py-10 px-14 flex justify-between items-center text-white backdrop-blur-xl"
  >
    <span class="text-2xl font-normal">Portafolio Web</span>
    <ul class="flex 2xl:gap-14 max-2xl:gap-4 text-lg">
      <NavLink title="Inicio" text="Inicio" href="#inicio" />
      <NavLink title="Sobre mi" text="Sobre mi" href="#sobremi" />
      <NavLink title="Proyectos" text="Proyectos" href="#proyectos" />
      <NavLink title="Experiencia" text="Experiencia" href="#experiencia" />
      <NavLink title="Contacto" text="Contacto" href="#contacto" />
    </ul>
    <Button text="Descargar Cv" />
  </nav>
</header>
