---

---

<header class="w-full flex justify-center fixed z-20">
    <nav
      class="w-full max-w-[1920px] py-10 px-24 flex justify-between items-center text-white"
    >
      <span class="text-2xl">Portafolio Web</span>
      <ul class="flex gap-14 text-lg">
        <li>
          <a href="/">Inicio</a>
        </li>
        <li>
          <a href="/">Sobre mi</a>
        </li>
        <li>
          <a href="/">Proyectos</a>
        </li>
        <li>
          <a href="/">Experiencia</a>
        </li>
        <li>
          <a href="/">Contacto</a>
        </li>
      </ul>
      <a class="text-lg border-2 rounded-sm px-6 py-1" href="/">Descargar Cv</a>
    </nav>
  </header>