<section
    class="p-6 dark:shadow-md col-span-12 row-span-2 md:col-span-12 border-r-orange-200 dark:border-r-orange-500 border-r-4 rounded-lg border border-zinc-700 dark:bg-white dark:bg-opacity-30 dark:border-black/10 bg-zinc-700 bg-opacity-50"
>
    <p class="text-[22px] text-pretty text-zinc-400 dark:text-zinc-700">
        <span class="text-orange-100 dark:text-orange-500">
            Me destaco en el diseño y desarrollo de paginas webs,</span
        >
        creando experiencias amigables para los usuarios, enfocadas en tener una
        buena optimización, con un gran rendimiento, en cuanto a velocidad de carga, 
        posicionamiento y estructuración del sitio.
    </p>
</section>
