---
import TitleSection from "../components/TitleSection.astro";
import Button from "../components/Button.astro";
---

<section
  class="w-full max-h-full h-[900px] max-2xl:h-[900px] max-xl:h-full max-w-[1440px] flex flex-col items-center justify-center mt-14 py-14 px-14 gap-20 text-white"
>
  <header
    class="w-full h-full grid grid-cols-auto-proyects place-items-center mt-20 gap-20 2xl:gap-20 max-xl:gap-16 max-lg:gap-14"
  >
    <div class="w-full">
      <time class="text-lg">04-08-2023</time>
      <h4 class="text-2xl font-bold mb-3">
        Proyecto Landing Page Misión Salta
      </h4>
      <p class="w-full text-xl text-pretty mb-2">
        El objetivo de la creacion de la landing page fue poder lograr unificar
        la informacion, dar a conocer con claridad que es "Mision Salta".
      </p>
      <p class="w-full text-xl text-pretty">
        Cuales son sus objetivos, quienes pueden colaborar en esta causa y a su
        vez plasmar las principales actividades que se realizan en dicha misión.
      </p>

      <div class="w-full mt-3">
        <h4 class="text-2xl font-bold mb-3">Pasos del proyecto</h4>
        <div class="w-full grid grid-cols-auto-experience text-xl gap-2">
          <span>1) Recopilación de información.</span>
          <span>2) Benchmarking.</span>
          <span>3) Arquitectura de la información.</span>
          <span>4) Wireframes en baja fidelidad.</span>
          <span>5) Creación de Guía de Estilos.</span>
          <span>6) Wireframes en alta fidelidad.</span>
          <span>7) Creación de repositorio.</span>
          <span>8) Desarrollo.</span>
          <span>9) Testeo.</span>
          <span>10) Despliegue.</span>
        </div>
      </div>
    </div>

    <div class="w-full h-full">
      <picture class="w-full">
        <img
          class="w-full rounded-md object-cover lg:h-[348px] aspect-video"
          src="/src/assets/img/2.jpg"
          alt="Proyecto Misión Salta"
        />
        <p class="mt-3 text-lg text-pretty">
          Ilustraciones de las diferentes partes de la UI, recopiladas de las
          distintas etapas del proyecto en Figma.
        </p>
      </picture>
      <footer class="mt-5 flex">
        <Button
          class="mr-2 max-xl:w-full"
          text="Más Información"
          href="https://docs.google.com/presentation/d/1OOgwZeIjTFVhn-jClSdSkuL0Ws2LCj8PJ4yc4mfr8os/edit#slide=id.p"
        />
        <Button
          class="max-xl:w-full"
          text="Ver Proyecto"
          href="https://mision-salta-landing-dev.vercel.app/"
        />
      </footer>
    </div>
  </header>
  <footer class="w-full">
    <TitleSection title="EXPERIENCIA" />
  </footer>
</section>
