---
import ContactMeGroup from "../components/ContactMeGroup.astro";
import DescriptionCard from "../components/DescriptionCard.astro";
import TecnologyCard from "../components/TecnologyCard.astro";
import ButtonTheme from "../components/ButtonTheme.astro";
import MoreCard from "../components/MoreCard.astro";
import AgeCard from "../components/AgeCard.astro";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import AboutCard from "../components/AboutCard.astro";
import ProyectCard from "../components/ProyectCard.astro";
---

<main
  id="inicio"
  class="w-full h-full flex flex-col justify-center items-center"
>
  <section
    class="w-full h-full max-w-[1440px] flex flex-col items-center justify-center max-lg:px-10 max-sm:px-4 py-12 px-14 gap-10"
  >
    <header class="mx-auto grid max-w-4xl grid-flow-dense grid-cols-12 gap-4">
      <AboutCard
        classContainer="col-span-6 max-lg:col-span-12 max-md:col-span-12"
        pill="Disponible para trabajar"
        title="Hola, soy Sebastian Perez"
        textColor="Desarrollador Front End"
        paragraph="y Tecnico Analista en Sistemas."
      >
        <slot slot="buttonPrimary">
          <ButtonPrimary
            textLink="Conocer más"
            href="SobreMi"
            title="Conocer más sobre mi"
            classLink=" moreLink hover:text-green-200 dark:hover:text-green-600"
            classIcon="group-hover:fill-green-200 dark:group-hover:fill-green-600 "
          />
        </slot>
      </AboutCard>

      <ContactMeGroup
        classContainer="col-span-6 max-lg:col-span-12 max-md:col-span-12"
      />

      <DescriptionCard classCard="col-span-12 row-span-2" />

      <ProyectCard
        transitionName="firstCard"
        dataColor="bg-blue-100/20"
        classColor="bg-blue-200 dark:bg-blue-300"
        classCard="border-l-blue-200 dark:border-l-blue-500 col-span-7 max-lg:col-span-6 max-md:col-span-12"
        classTitle="text-blue-200 dark:text-blue-800"
        pill="Ultimo proyecto"
        proyectTitle="Web - Dafa Seguros"
        description="Desarrollo de página web informativa para una empresa Productora Asesora de Seguros."
      >
        <slot slot="buttonPrimary">
          <ButtonPrimary
            target="_blank"
            textLink="Ver sitio"
            href="https://dafasesoresdeseguros.com.ar/"
            title="Ver sitio"
            classLink="linkHover hover:text-blue-200 dark:hover:text-blue-800"
            classIcon="group-hover:fill-blue-200 dark:fill-zinc-800 dark:group-hover:fill-blue-800"
          />
          <ButtonPrimary
            target="_blank"
            textLink="Ver repositorio"
            href="https://github.com/SebastianPerez11/df-seguros-web"
            title="Ver repositorio"
            classLink="linkHover hover:text-blue-200 dark:hover:text-blue-800"
            classIcon="group-hover:fill-blue-200 dark:fill-zinc-800 dark:group-hover:fill-blue-800"
          /></slot
        >
      </ProyectCard>

      <TecnologyCard
        classCard="col-span-5 max-lg:col-span-6 max-md:col-span-12 row-span-2"
      />

      <ButtonTheme
        class="col-span-2 max-lg:col-span-6 max-md:col-span-12 row-span-2"
      />

      <MoreCard
        class="border-l-red-200 border-l-4 hover:bg-red-200/20 dark:hover:bg-red-200/20 dark:border-l-red-500 col-span-4 max-lg:col-span-6 max-md:col-span-12 row-span-2"
        text="Conocer más"
        textColor="Proyectos"
        colorText="text-red-200 dark:text-red-600"
        href="/Proyectos"
        title="Conocer más proyectos"
      />
      <MoreCard
        class="border-r-cyan-200 border-r-4 hover:bg-cyan-200/20 dark:hover:bg-cyan-200/20 dark:border-r-cyan-500 col-span-4 max-lg:col-span-6 max-md:col-span-12 row-span-2"
        text="Experiencia como"
        textColor="Freelancer"
        colorText="text-cyan-100 dark:text-cyan-500"
        href="/Experiencia"
        title="Conocer mi experiencia"
      />

      <AgeCard
        class="col-span-2 max-lg:col-span-6 max-md:col-span-12 row-span-2"
      />
    </header>
  </section>
</main>
