---
import IconGitHub from "../assets/icons/IconGitHub.astro";
import IconLinkedin from "../assets/icons/IconLinkedin.astro";
import IconGmail from "../assets/icons/IconGmail.astro";

import TitleSection from "../components/TitleSection.astro";
---

<section
  class="w-full max-h-full h-[900px] max-w-[1440px] flex flex-col items-center justify-center mt-14 py-14 px-14 gap-10 text-white"
>
  <header class="w-full h-full flex justify-between items-center mt-20">
    <aside class="flex flex-col gap-6">
      <a href="/" title="Ir a GitHub"
        ><IconGitHub class="w-9 hover:-translate-y-1 transition-transform" /></a
      >
      <a href="/" title="Ir a Linkedin"
        ><IconLinkedin
          class="w-9 hover:-translate-y-1 transition-transform"
        /></a
      >
      <a href="/" title="Ir a Gmail"
        ><IconGmail class="w-9 hover:-translate-y-1 transition-transform" /></a
      >
    </aside>
    <div
      class="2xl:w-[580px] 2xl:h-[340px] relative z-10 border-2 xl:w-[500px] xl:h-[240px]"
    >
      <span
        class="bg-black w-full absolute flex justify-center items-center h-full border-2 -top-6 right-6 xl:-top-4 xl:right-4"
      >
        <h1
          class="2xl:text-[80px] xl:text-7xl z-40 w-[9ch] text-center font-bold leading-none"
        >
          Sebastian Perez
        </h1>
      </span>
    </div>
  </header>
  <footer class="w-full">
    <p class="text-[22px] w-[28ch] mb-8 text-pretty">
      Aportando valor y resultados en cada desarrollo, diseños modernos
      adaptados a tus necesidades
    </p>
    <TitleSection title="WEB DEVELOPER" />
  </footer>
</section>
