---
import IconGitHub from "../assets/icons/IconGitHub.astro";
import IconLinkedin from "../assets/icons/IconLinkedin.astro";
import IconGmail from "../assets/icons/IconGmail.astro";
import IconInstagram from "../assets/icons/IconInstagram.astro";
import IconArrow from "../assets/icons/IconArrow.astro";
import IconHtml from "../assets/icons/IconHtml.astro";
import IconCss from "../assets/icons/IconCss.astro";
import IconJavaScript from "../assets/icons/IconJavaScript.astro";
import IconFigma from "../assets/icons/IconFigma.astro";
import IconVercel from "../assets/icons/IconVercel.astro";
import IconAstro from "../assets/icons/IconAstro.astro";
import IconTailwind from "../assets/icons/IconTailwind.astro";
import IconGit from "../assets/icons/IconGit.astro";
import IconMail from "../assets/icons/IconMail.astro";
import IconDownload from "../assets/icons/IconDownload.astro";
import TitleSection from "../components/TitleSection.astro";
---

<section
  class="w-full h-full max-w-[1440px] flex flex-col items-center justify-center py-20 px-14 gap-10 text-white"
>
  <header class="mx-auto grid max-w-4xl grid-flow-dense grid-cols-12 gap-4">
    <section
      id="nameSection"
      class="border-l-green-200 border-l-4 rounded-lg border border-zinc-700 bg-zinc-700 p-6 col-span-12 row-span-2 md:col-span-6 bg-opacity-50 transition-transform"
    >
      <span
        class="block mb-5 w-max rounded-full bg-green-200 text-black font-bold px-3 py-[2px] text-base"
        >Disponible para trabajar</span
      >
      <h1 class="text-[22.5px] mb-1">Hola, soy Sebastian Perez.</h1>
      <span class="text-zinc-400 text-[22.5px]">
        Desarrollador <span class="text-green-100">Front End</span> y Tecnico Analista
        en Sistemas.</span
      >
      <a
        id="moreLink"
        class="flex w-max items-center text-lg gap-1 mt-6"
        href="/">Conocer más <IconArrow class="w-[14.5px]" /></a
      >
    </section>

    <script>
      const nameSection = document.querySelector("#nameSection");
      const moreLink = document.querySelector("#moreLink");

      moreLink.addEventListener("mouseover", () => {
        nameSection.classList.remove("bg-zinc-700");
        nameSection.classList.add("bg-green-100/20");
        nameSection.classList.add("scale-[1.02]");
      });

      moreLink.addEventListener("mouseout", () => {
        nameSection.classList.remove("bg-green-100/20");
        nameSection.classList.remove("scale-[1.02]");
        nameSection.classList.add("bg-zinc-700");
      });
    </script>

    <section class="w-full grid grid-cols-auto-red gap-4 col-span-6 row-span-2">
      <a
        href="/"
        class="flex justify-center items-center rounded-lg border border-zinc-700 bg-zinc-700 p-6 bg-opacity-50 hover:bg-violet-300/20 hover:scale-105 transition-transform cursor-pointer"
      >
        <IconGitHub class="w-10" />
      </a>
      <a
        href="/"
        class="flex justify-center items-center rounded-lg border border-zinc-700 bg-zinc-700 p-6 bg-opacity-50 hover:bg-blue-300/20 hover:scale-105 transition-transform cursor-pointer"
      >
        <IconLinkedin class="w-9" />
      </a>
      <a
        href="/"
        class="flex justify-center items-center rounded-lg border border-zinc-700 bg-zinc-700 p-6 bg-opacity-50 hover:bg-red-300/20 hover:scale-105 transition-transform cursor-pointer"
      >
        <IconMail class="w-11" />
      </a>
      <a
        href="/"
        class="flex justify-center items-center rounded-lg border border-zinc-700 bg-zinc-700 p-6 bg-opacity-50 hover:bg-pink-300/20 hover:scale-105 transition-transform cursor-pointer"
      >
        <IconInstagram class="w-9" />
      </a>
    </section>

    <section
      class="border-r-orange-200 border-r-4 rounded-lg border border-zinc-700 bg-zinc-700 p-6 col-span-12 row-span-2 md:col-span-12 bg-opacity-50"
    >
      <p class="text-[22px] text-pretty text-zinc-400">
        <span class="text-orange-100">
          Me destaco en el diseño y desarrollo de paginas webs,</span
        >
        creando experiencias amigables para los usuarios, enfocadas en tener una
        buena optimización, con un gran rendimiento, en cuanto a velocidad de carga,
        posicionamiento y estructuración del sitio.
      </p>
    </section>

    <section
      class="sectionHover border-l-blue-200 border-l-4 rounded-lg border p-6 border-zinc-700 bg-zinc-700 col-span-12 row-span-2 md:col-span-7 bg-opacity-50 transition-transform"
    >
      <div class="w-full flex justify-between items-center mb-5">
        <span class="block bg-blue-200 w-5 h-5 rounded-full"> </span>
        <span
          class="block w-max rounded-full bg-blue-200 text-black font-bold px-3 py-[2px] text-base"
          >Ultimo proyecto</span
        >
      </div>

      <h2 class="text-2xl font-bold mb-1 text-blue-50">Web - Dafa Seguros</h2>
      <p class="text-xl text-zinc-400">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam
        aspernatur assumenda.
      </p>

      <footer class="flex mt-6 text-lg items-center">
        <a class="linkHover mr-5" href="/">Ver Sitio</a>
        <a class="linkHover" href="/">Ver Repositorio </a>
      </footer>
    </section>

    <script>
      const hoverSections = document.querySelectorAll(".sectionHover");
      const activeLinks = document.querySelectorAll(".linkHover");

      hoverSections.forEach((section) => {
        activeLinks.forEach((link) => {
          link.addEventListener("mouseover", () => {
            section.classList.remove("bg-zinc-700");
            section.classList.add("bg-blue-200/20");
            section.classList.add("scale-[1.02]");
          });
        });
      });

      hoverSections.forEach((section) => {
        activeLinks.forEach((link) => {
          link.addEventListener("mouseout", () => {
            section.classList.remove("bg-blue-200/20");
            section.classList.remove("scale-[1.02]");
            section.classList.add("bg-zinc-700");
          });
        });
      });
    </script>

    <section
      class="w-full flex flex-col gap-6 col-span-5 row-span-2 rounded-lg border border-zinc-700 bg-zinc-700 p-6 bg-opacity-50"
    >
      <p class="flex flex-col text-[22px] text-pretty text-white">
        <span class="text-4xl font-bold text-blue-200">+2</span> Años de Experiencia
      </p>
      <footer class="w-full grid grid-cols-auto-tecnology gap-4">
        <IconHtml class="w-8" />
        <IconCss class="w-8" />
        <IconJavaScript class="w-8" />
        <IconAstro class="w-8" />
        <IconTailwind class="w-8" />
        <IconFigma class="w-8" />
        <IconVercel class="w-8" />
        <IconGit class="w-8" />
      </footer>
    </section>

    <section
      class="w-full flex justify-center items-center flex-col col-span-2 row-span-2 rounded-lg border border-zinc-700 bg-zinc-700 p-6 bg-opacity-50"
    >
      <button
        onclick="(() => document.body.classList.toggle('dark'))()"
        class="rounded-lg p-2 hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <svg
          class="fill-violet-700 h-10 w-10 block dark:hidden"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
          ></path>
        </svg>
        <svg
          class="fill-yellow-500 h-10 w-10 hidden dark:block"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
            fill-rule="evenodd"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </section>
    <section
      class="w-full flex items-center justify-center flex-col col-span-8 row-span-2 rounded-lg border border-zinc-700 bg-zinc-700 p-6 bg-opacity-50"
    >
      <p class="text-[22px] text-pretty text-white">Mas Proyectos</p>
    </section>

    <section
      class="w-full flex items-center flex-col gap-6 col-span-2 row-span-2 rounded-lg border border-zinc-700 bg-zinc-700 p-6 bg-opacity-50"
    >
      <p
        class="flex flex-col justify-center items-center text-[22px] text-pretty text-white"
      >
        <span class="text-4xl font-bold text-violet-300">21</span> Años
      </p>
    </section>
  </header>
</section>

<!-- <section
class="w-full grid grid-cols-auto-tecnology gap-6 col-span-5 row-span-2 rounded-lg border border-zinc-700 bg-zinc-700 p-6 bg-opacity-50"
>
<p class="flex flex-col text-[22.5px] text-pretty text-white">
  <span> + Comunicación</span>
  <span> + Rendimiento</span>
  <span> + Trabajo en equipo</span>
  <span> + Liderazgo</span>
  <span> + Adaptabilidad</span>
</p>
</section> -->

<!-- <picture class="block mb-6 bg-red-200 w-6 h-6 rounded-full">
        <img src="" alt="" />
      </picture> -->

<!-- <label class="inline-flex items-center relative">
  <input class="peer hidden" id="toggle" type="checkbox" />
  <div
    class="relative w-[110px] h-[50px] bg-white peer-checked:bg-zinc-500 rounded-full after:absolute after:content-[''] after:w-[40px] after:h-[40px] after:bg-gradient-to-r from-orange-500 to-yellow-400 peer-checked:after:from-zinc-900 peer-checked:after:to-zinc-900 after:rounded-full after:top-[5px] after:left-[5px] active:after:w-[50px] peer-checked:after:left-[105px] peer-checked:after:translate-x-[-100%] shadow-sm duration-300 after:duration-300 after:shadow-md"
  ></div>
  <svg
    height="0"
    width="100"
    viewBox="0 0 24 24"
    data-name="Layer 1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    class="fill-white peer-checked:opacity-60 absolute w-6 h-6 left-[13px]"
  >
    <path
      d="M12,17c-2.76,0-5-2.24-5-5s2.24-5,5-5,5,2.24,5,5-2.24,5-5,5ZM13,0h-2V5h2V0Zm0,19h-2v5h2v-5ZM5,11H0v2H5v-2Zm19,0h-5v2h5v-2Zm-2.81-6.78l-1.41-1.41-3.54,3.54,1.41,1.41,3.54-3.54ZM7.76,17.66l-1.41-1.41-3.54,3.54,1.41,1.41,3.54-3.54Zm0-11.31l-3.54-3.54-1.41,1.41,3.54,3.54,1.41-1.41Zm13.44,13.44l-3.54-3.54-1.41,1.41,3.54,3.54,1.41-1.41Z"
    ></path>
  </svg>
  <svg
    height="512"
    width="512"
    viewBox="0 0 24 24"
    data-name="Layer 1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    class="fill-black opacity-60 peer-checked:opacity-70 peer-checked:fill-white absolute w-6 h-6 right-[13px]"
  >
    <path
      d="M12.009,24A12.067,12.067,0,0,1,.075,10.725,12.121,12.121,0,0,1,10.1.152a13,13,0,0,1,5.03.206,2.5,2.5,0,0,1,1.8,1.8,2.47,2.47,0,0,1-.7,2.425c-4.559,4.168-4.165,10.645.807,14.412h0a2.5,2.5,0,0,1-.7,4.319A13.875,13.875,0,0,1,12.009,24Zm.074-22a10.776,10.776,0,0,0-1.675.127,10.1,10.1,0,0,0-8.344,8.8A9.928,9.928,0,0,0,4.581,18.7a10.473,10.473,0,0,0,11.093,2.734.5.5,0,0,0,.138-.856h0C9.883,16.1,9.417,8.087,14.865,3.124a.459.459,0,0,0,.127-.465.491.491,0,0,0-.356-.362A10.68,10.68,0,0,0,12.083,2ZM20.5,12a1,1,0,0,1-.97-.757l-.358-1.43L17.74,9.428a1,1,0,0,1,.035-1.94l1.4-.325.351-1.406a1,1,0,0,1,1.94,0l.355,1.418,1.418.355a1,1,0,0,1,0,1.94l-1.418.355-.355,1.418A1,1,0,0,1,20.5,12ZM16,14a1,1,0,0,0,2,0A1,1,0,0,0,16,14Zm6,4a1,1,0,0,0,2,0A1,1,0,0,0,22,18Z"
    ></path>
  </svg>
</label> -->
