---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import "../styles/fonts.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Font Preloads -->
    <link
      rel="preload"
      href="/fonts/Sansation_Bold.ttf"
      as="font"
      crossorigin
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="font-sansation w-full max-h-full h-screen relative transition-all"
  >
    <div
      class="absolute top-0 z-[-2] h-full w-full dark:bg-gray-50 dark:bg-[radial-gradient(ellipse_45%_120%_at_50%_50%,rgba(120,119,198,.8),rgba(255,255,255,0))] bg-[radial-gradient(ellipse_45%_120%_at_50%_50%,rgba(120,119,198,0.3),rgba(255,255,255,0))] bg-neutral-950"
    >
    </div>
    <slot />
    <script data-astro-rerun is:inline type="module">
      (function () {
        const storedTheme = localStorage.getItem("theme") || "light";
        document.documentElement.classList.toggle(
          "dark",
          storedTheme === "dark"
        );
      })();
    </script>
    <script data-astro-rerun type="module">
      document.addEventListener("DOMContentLoaded", () => {
        const containerButtons = document.querySelector("#containerButtons");

        if (containerButtons) {
          containerButtons.addEventListener("mouseover", (e) => {
            console.log(e);
            const target = e.target;
            if (target && target.tagName === "A") {
              const padre = containerButtons.parentNode;
              padre.classList.remove("bg-zinc-700");
              padre.classList.remove("dark:bg-white");
              padre.classList.add("bg-blue-200/20");
              padre.classList.add("scale-[1.02]");
            }
          });
        } else {
          console.error("Element with id 'containerButtons' not found.");
        }
      });
    </script>
  </body>
</html>
