---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import "../styles/fonts.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Soy un desarrollador web orientado en el front con experiencia en maquetación, diseño y desarrollo web. Descubre mis habilidades y algunos de mis proyectos dentro de mi Portafolio."
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="application-name" content="Portafolio Web - Sebastian Perez" />
    <meta name="author" content="Sebastian Perez" />
    <meta name="creator" content="Sebastian Perez" />
    <meta
      name="keywords"
      content="Portafolio Web, Desarrollo Web, Diseño, Front End, Técnico, Páginas web"
    />
    <meta property="og:title" content="Portafolio Web" />

    <meta
      property="og:description"
      content="Soy un desarrollador web orientado en el front con experiencia en maquetación, diseño y desarrollo web. Descubre mis habilidades y algunos de mis proyectos dentro de mi Portafolio."
    />
    <meta property="og:url" content="https://portafolio-web-sp.vercel.app/" />
    <meta property="og:site_name" content="Portafolio Web - Sebastian Perez" />
    <meta property="og:image" content="../../public/img/portafolio-web.jpg" />
    <link rel="icon" type="image/svg+xml" href="/code.svg" sizes="100x100" />

    <!-- Font Preloads -->
    <link
      rel="preload"
      href="/fonts/Sansation_Bold.ttf"
      as="font"
      crossorigin
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="font-sansation w-full h-full min-h-screen relative transition-all"
  >
    <div
      class="absolute top-0 z-[-2] h-full w-full dark:bg-gray-50 dark:bg-[radial-gradient(ellipse_45%_120%_at_50%_50%,rgba(120,119,198,.8),rgba(255,255,255,0))] bg-[radial-gradient(ellipse_45%_120%_at_50%_50%,rgba(120,119,198,0.3),rgba(255,255,255,0))] bg-neutral-950"
    >
    </div>
    <slot />
    <script data-astro-rerun is:inline type="module">
      (function () {
        const storedTheme = localStorage.getItem("theme") || "light";
        document.documentElement.classList.toggle(
          "dark",
          storedTheme === "dark"
        );
      })();
    </script>
  </body>
</html>

<style>
  html {
    color-scheme: dark;
  }
</style>
