---
import IconAstro from "../assets/icons/IconAstro.astro";
import IconTailwind from "../assets/icons/IconTailwind.astro";

import TitleSection from "../components/TitleSection.astro";
import CardProyect from "../components/CardProyect.astro";
import Button from "../components/Button.astro";
---

<section
  class="w-full h-full max-w-[1440px] flex flex-col items-center justify-center mt-14 py-14 px-14 gap-10 text-white"
>
  <header
    class="w-full h-full grid grid-cols-auto-proyects place-items-center mt-20 gap-20 2xl:gap-20 max-xl:gap-16 max-lg:gap-14"
  >
    <CardProyect
      title="WEB DAFA SEGUROS"
      description="Página web informativa para una empresa Productora Asesora de Seguros en Argentina. Se utilizo la API View Transition. (En Producción)"
    >
      <slot slot="icons">
        <IconAstro class="w-8" />
        <IconTailwind class="w-8" />
      </slot>
      <slot slot="buttons">
        <Button text="Ver sitio" class="mr-2" href="https://dafasesoresdeseguros.com.ar/" />
        <Button text="Ver repositorio" href="https://github.com/SebastianPerez11/df-seguros-web" />
      </slot>
    </CardProyect>

    <CardProyect
      title="LANDING TESLA"
      description="Se desarrollo una landing page teniendo de referencia la página original de Tesla (Proyecto realizado para el programa Codo a Codo)."
    >
      <slot slot="icons">
        <IconAstro class="w-8" />
        <IconTailwind class="w-8" />
      </slot>
      <slot slot="buttons">
        <Button text="Ver sitio" class="mr-2" href="https://landing-tesla-cac.vercel.app/" />
        <Button text="Ver repositorio" href="https://github.com/SebastianPerez11/landing-tesla-cac" />
      </slot>
    </CardProyect>

    <CardProyect
      title="LANDING MISIÓN SALTA"
      description="ONG - Misión Salta brinda principalmente información sobre el propósito, objetivo, entre más puntos importantes de la misión."
    >
      <slot slot="icons">
        <IconAstro class="w-8" />
        <IconTailwind class="w-8" />
      </slot>
      <slot slot="buttons">
        <Button text="Ver sitio" class="mr-2" href="https://mision-salta-landing-dev.vercel.app" />
        <Button text="Ver repositorio" href="https://github.com/leoromero97/mision-salta-landing" />
      </slot>
    </CardProyect>

    <CardProyect
      title="PROXIMAMENTE..."
      description="Página web informativa para una empresa Productora Asesora de Seguros en Argentina. (En Producción)"
    >
      <slot slot="icons">
        <IconAstro class="w-8" />
        <IconTailwind class="w-8" />
      </slot>
      <slot slot="buttons">
        <Button text="Ver sitio" class="mr-2" href="./" />
        <Button text="Ver repositorio" href="./" />
      </slot>
    </CardProyect>
  </header>
  <footer class="w-full">
    <TitleSection title="PROYECTOS" />
  </footer>
</section>
