---
import IconHtml from "../assets/icons/IconHtml.astro";
import IconCss from "../assets/icons/IconCss.astro";
import IconJavaScript from "../assets/icons/IconJavaScript.astro";
import IconFigma from "../assets/icons/IconFigma.astro";
import IconVercel from "../assets/icons/IconVercel.astro";
import IconAstro from "../assets/icons/IconAstro.astro";
import IconTailwind from "../assets/icons/IconTailwind.astro";
import IconGit from "../assets/icons/IconGit.astro";
---

<section
    class="w-full flex flex-col gap-6 col-span-5 row-span-2 rounded-lg border border-zinc-700 p-6 bg-zinc-700 bg-opacity-50 dark:bg-white dark:bg-opacity-30 dark:border-black/10 dark:shadow-md"
>
    <p
        class="flex flex-col text-[22px] text-pretty text-white dark:text-black"
    >
        <span class="text-4xl font-bold text-blue-200 dark:text-blue-500"
            >+2</span
        > Años de Experiencia
    </p>
    <footer class="w-full grid grid-cols-auto-tecnology gap-4">
        <IconHtml
            class="transition-colors w-8 fill-white dark:fill-black/80 hover:fill-[#f06529] dark:hover:fill-[#f06529]"
        />
        <IconCss
            class="transition-colors w-8 fill-white dark:fill-black/60 hover:fill-blue-400 dark:hover:fill-blue-500"
        />
        <IconJavaScript
            class="transition-colors w-8 fill-white dark:fill-black/80 hover:fill-yellow-300 dark:hover:fill-yellow-500"
        />
        <IconAstro
            class="transition-colors w-8 fill-white dark:fill-black/80 hover:fill-orange-400 dark:hover:fill-orange-500"
        />
        <IconTailwind
            class="transition-colors w-8 fill-white dark:fill-black/80 hover:fill-cyan-300 dark:hover:fill-cyan-400"
        />
        <IconFigma
            class="transition-colors w-8 fill-white dark:fill-black/80 hover:fill-violet-400 dark:hover:fill-violet-500"
        />
        <IconVercel
            class="transition-colors w-8 fill-white dark:fill-black/80 hover:fill-black dark:hover:fill-black/60"
        />
        <IconGit
            class="transition-colors w-8 fill-white dark:fill-black/80 hover:fill-orange-500 dark:hover:fill-orange-600"
        />
    </footer>
</section>
